@model List<Pizza>

@{
    int count = 1;
}
<a href="@Url.Action("Create","Pizza")"><button class="create-button">Inserisci nuova Pizza</button></a>
<div class="pizza-container d-flex flex-wrap justify-content-center align-items-center">
    @foreach (Pizza pizza in Model)
    {
        <div class="card d-flex flex-row">
            <div>
                <image class="pizza-img" src="@pizza.Immagine"></image>
            </div>

            <div class="d-flex flex-column justify-content-center mx-4">
                <div><h4>@pizza.Nome</h4></div>
                <div>Ingredienti: @pizza.Descrizione</div>
                <div>Prezzo: <b>@pizza.Prezzo $</b> </div>
                <a href="@Url.Action("Details", "Pizza", new { id = count})">
                    <button>Dettagli</button>
                </a>
            </div>
        </div>
        count++;
    }
</div>



    
